<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>Spotify Two Person Playlist Generator</title>
  <script type="text/javascript" src="brython.js"></script>
  <script type="text/javascript" src="brython_stdlib.js"></script>

  <!-- Bootstrap core CSS -->
  <link href="vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

</head>

<body onload="brython(1)">


  <!-- Navigation -->
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="#">Spotify Group Playlist Generator</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive"
        aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item active">
            <a class="nav-link" href="#">Home
              <span class="sr-only">(current)</span>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">About</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Services</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Contact</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h1 class="mt-5">Spotify Two Person Playlist Generator</h1>
        <div>This app creates a playlist catered to the overlapping tastes of two users</div>
        <p class="lead"></p>

        <script type="text/python3">
          from browser import document, ajax
          import json
          import warnings
          def show_results(response):
              if response.status==200 or response.status==0:
                  data = json.loads(response.text)
                  #spam = 'Spam' if data['pred'] is True else 'Not Spam'
                  #divs = ["result", "result2", "result3", "result4", 
                  #"result5", "result6", "result7", "result8", "result9", "result10"]
                  #for i in range(len(data['pred'])):
                  document["result"].html = "Done! Your new playlist has been created."
                  #document["result"].html = '\n'.join(data['pred'])
                  #document["result"].html = 'Probability is: ' + str(data['prob'])
              else:
                  warnings.warn(response.text)

          def get_prediction(ev):
              """Get the predicted probability."""
              req = ajax.ajax()
              req.bind('complete', show_results)
              req.open('POST', '/predict', True)
              req.set_header('content-type','application/json')
              data = json.dumps({'user_input': document['user_input'].value, 
                                'user_input2': document['user_input2'].value, 
                                'user_input3': document['user_input3'].value})
              req.send(data)
          def creating(ev):
              document["creating"].html = "Generating playlist... Takes 5-10 mins"
          document["predict_button"].bind("click", creating)
          document["predict_button"].bind("click", get_prediction)
        </script>

        <textarea id="user_input" placeholder="Enter Spotify username" rows=1 cols=50></textarea>
        <textarea id="user_input2" placeholder="Enter another Spotify username" rows=1 cols=50></textarea>
        <textarea id="user_input3" placeholder="Enter playlist name" rows=1 cols=50></textarea>
        <p></p>
        <button id="predict_button">Generate!</button>
        <p></p>
        <div id="creating"></div>
        <div id="result"></div>


        <ul class="list-unstyled">
        </ul>
      </div>
    </div>
  </div>

  <!-- Bootstrap core JavaScript -->
  <script src="vendor/jquery/jquery.min.js"></script>
  <script src="vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

</body>

</html>